@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    margin: 0;
    font-family: "Kode Mono", monospace;
    background: whitesmoke;
}


.header-logo{
    width: 300px;

}

.header-controls{
    
    position: relative;
    
    
}
header{
    font-weight: 600;
    font-size: 30px;
}

.btn-header{
    font-size: 30px;
}

header a{ 
    margin-right: 25px;

  
}

button {
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 12px;
  }

a{
    text-decoration: none;
    color: #213053; 
}

.conteinet-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    
}

.about-images{
    width: 500px;
    transform: scaleX(-1) 
}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background: url('img/bg1.png') no-repeat;
    background-position: center;
    background-size: cover;
    background-image:url(img/bg1.png ) ;

}

.about button{
    font-size: 20px;
    border-radius: 20px;
    margin-top: 20px;
    
}

.about-info p { 
    font-size: 20px;
    
    margin-top: 20px;
    margin-bottom: 20px;

}

.about-info h1{
    font-weight:700;
    font-size: 70px;
    line-height: 76px;
}

.about-info {
    max-width: 550px;
}